{{- $items := . -}}
{{- $ctx := index $items "ctx" -}}
{{- $name := index $items "name" -}}
{{- $item := index $items "item" -}}
{{- $async := index $items "async" -}}

{{- if not $item -}}
  {{- $css := $ctx.Site.Data.vendor.css -}}
  {{- $item = index $css $name -}}
{{- end -}}

{{- $base := dict
	"raw" $item
	"src" (index (partial "helpers/vendorCdn.html" (dict "item" $item "ctx" $ctx.Site)) 0)
	"integrity" (index (partial "helpers/vendorCdnIntegrity.html" (dict "item" $item)) 0)
-}}

{{- if $async -}}
  {{- partial "helpers/asyncCss.html" $base -}}
{{- else -}}
  {{- partial "helpers/css.html" $base -}}
{{- end -}}
