{{- define "main" -}}
  {{- $sort_config := .Site.Params.sort_order.archive -}}
  {{- $pageSize := 0 -}}
  {{- with $.Site.Params.paginate.archive -}}
    {{- $pageSize = . -}}
  {{- end -}}
  {{- $paginator := "" -}}
  {{- if gt $pageSize 0 -}}
    {{- $paginator = .Paginate (where .Page.Site.RegularPages "Section" "in" .Site.Params.mainSections) $pageSize -}}
  {{- else -}}
    {{- $paginator = .Paginate (where .Page.Site.RegularPages "Section" "in" .Site.Params.mainSections) -}}
  {{- end -}}
  
  {{- $sortedPages := $paginator.Pages.GroupByDate .Site.Params.yearFormat "desc" -}}
  {{- if eq $sort_config "weight" -}}
    {{- $sortedPages = $paginator.Pages.ByWeight -}}
  {{- else if eq $sort_config "weight-reverse" -}}
    {{- $sortedPages = $paginator.Pages.ByWeight.Reverse -}}
  {{- else if eq $sort_config "date" -}}
    {{- $sortedPages = $paginator.Pages.GroupByDate .Site.Params.yearFormat "asc" -}}
  {{- else if eq $sort_config "default" -}}
    {{- $sortedPages = $paginator.Pages -}}
  {{- end -}}
  <div
    class="archives-outer-wrap"
    data-aos="{{ .Site.Params.animation.options.archive.whole }}"
  >
    {{- if .Site.Params.only_show_capsule_in_index -}}
      {{- if eq .Paginator.PageNumber 1 -}}
        {{- partialCached "archives.html" . -}}
      {{- end -}}
    {{- else -}}
      {{- partialCached "archives.html" . -}}
    {{- end -}}
    {{- partial "list.html" (dict "paginator" $sortedPages "ctx" .) -}}
  </div>
  {{- partial "pagination.html" . -}}
{{- end -}}
