<nav id="mobile-nav" aria-label="Mobile navigation">
  <div class="sidebar-wrap">
    {{- if in .Site.Params.mainSections .Type -}}
      {{- if eq .Params.toc false -}}
        {{- partial "sidebar/commonBar.html" (dict "ctx" . "mobile" true) -}}
      {{- else if and (ne .Params.toc true) (eq .Site.Params.toc false) -}}
        {{- partial "sidebar/commonBar.html" (dict "ctx" . "mobile" true) -}}
      {{- else -}}
        <div class="sidebar-toc-sidebar">
          {{- partial "sidebar/tocBar.html" . -}}
        </div>
        <div class="sidebar-common-sidebar hidden">
          {{- partial "sidebar/commonBar.html" (dict "ctx" . "mobile" true) -}}
        </div>
      {{- end -}}
    {{- else -}}
      {{- partial "sidebar/commonBar.html" (dict "ctx" . "mobile" true) -}}
    {{- end -}}
  </div>
  {{- if in .Site.Params.mainSections .Type -}}
    {{- if eq .Params.toc false -}}
    {{- else if and (ne .Params.toc true) (eq .Site.Params.toc false) -}}
    {{- else -}}
      <div class="sidebar-btn-wrapper">
        <div class="sidebar-toc-btn current"></div>
        <div class="sidebar-common-btn"></div>
      </div>
    {{- end -}}
  {{- end -}}
</nav>
